In [1]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns

In [2]:
import wrangle_superstore as w

In [3]:
df = w.wrangle_superstore()

Using cached csv

In [4]:
df.head()

,order_id,order_date,ship_date,ship_mode,customer_id,segment,city,state,postal_code,sales,quantity,discount,profit,category,sub_category,product_name,region_name,unit_cost,unit_profit,brand
order_date,,,,,,,,,,,,,,,,,,,,
2016-11-08,CA-2016-152156,2016-11-08,2016-11-11,Second Class,CG-12520,Consumer,Henderson,Kentucky,42420,261.96,2.0,0.00,41.91,Furniture,Bookcases,Bush Somerset Collection Bookcase,South,130.98,20.9568,Bush
2016-11-08,CA-2016-152156,2016-11-08,2016-11-11,Second Class,CG-12520,Consumer,Henderson,Kentucky,42420,731.94,3.0,0.00,219.58,Furniture,Chairs,"Hon Deluxe Fabric Upholstered Stacking Chairs,...",South,243.98,73.1940,Hon
2016-06-12,CA-2016-138688,2016-06-12,2016-06-16,Second Class,DV-13045,Corporate,Los Angeles,California,90036,14.62,2.0,0.00,6.87,Office Supplies,Labels,Self-Adhesive Address Labels for Typewriters b...,West,7.31,3.4357,Self-Adhesive
2015-10-11,US-2015-108966,2015-10-11,2015-10-18,Standard Class,SO-20335,Consumer,Fort Lauderdale,Florida,33311,957.58,5.0,0.45,-383.03,Furniture,Tables,Bretford CR4500 Series Slim Rectangular Table,South,348.21,-76.6062,Bretford
2015-10-11,US-2015-108966,2015-10-11,2015-10-18,Standard Class,SO-20335,Consumer,Fort Lauderdale,Florida,33311,22.37,2.0,0.20,2.52,Office Supplies,Storage,Eldon Fold 'N Roll Cart System,South,13.98,1.2582,Eldon

In [5]:
df.info()

<class 'pandas.core.frame.DataFrame'>
Index: 1734 entries, 2016-11-08 to 2016-07-10
Data columns (total 20 columns):
 #   Column        Non-Null Count  Dtype
---  ------        --------------  -----
 0   order_id      1734 non-null   object
 1   order_date    1734 non-null   object
 2   ship_date     1734 non-null   object
 3   ship_mode     1734 non-null   object
 4   customer_id   1734 non-null   object
 5   segment       1734 non-null   object
 6   city          1734 non-null   object
 7   state         1734 non-null   object
 8   postal_code   1734 non-null   int64
 9   sales         1734 non-null   float64
 10  quantity      1734 non-null   float64
 11  discount      1734 non-null   float64
 12  profit        1734 non-null   float64
 13  category      1734 non-null   object
 14  sub_category  1734 non-null   object
 15  product_name  1734 non-null   object
 16  region_name   1734 non-null   object
 17  unit_cost     1734 non-null   float64
 18  unit_profit   1734 non-null   float64
 19  brand         1734 non-null   object
dtypes: float64(6), int64(1), object(13)
memory usage: 284.5+ KB