In [1]:
import waterman_acquire as a

In [2]:
df = a.acquire_superstore()

In [3]:
df.head()

,order_id,order_date,ship_date,ship_mode,customer_id,segment,country,city,state,postal_code,...,quantity,discount,profit,category_id,region_id,category,sub_category,customer_name,product_name,region_name
0,CA-2016-152156,2016-11-08,2016-11-11,Second Class,CG-12520,Consumer,United States,Henderson,Kentucky,42420.0,...,2.0,0.00,41.9136,1,1,Furniture,Bookcases,Claire Gute,Bush Somerset Collection Bookcase,South
1,CA-2016-152156,2016-11-08,2016-11-11,Second Class,CG-12520,Consumer,United States,Henderson,Kentucky,42420.0,...,3.0,0.00,219.5820,2,1,Furniture,Chairs,Claire Gute,"Hon Deluxe Fabric Upholstered Stacking Chairs,...",South
2,CA-2016-138688,2016-06-12,2016-06-16,Second Class,DV-13045,Corporate,United States,Los Angeles,California,90036.0,...,2.0,0.00,6.8714,3,2,Office Supplies,Labels,Darrin Van Huff,Self-Adhesive Address Labels for Typewriters b...,West
3,US-2015-108966,2015-10-11,2015-10-18,Standard Class,SO-20335,Consumer,United States,Fort Lauderdale,Florida,33311.0,...,5.0,0.45,-383.0310,4,1,Furniture,Tables,Sean O'Donnell,Bretford CR4500 Series Slim Rectangular Table,South
4,US-2015-108966,2015-10-11,2015-10-18,Standard Class,SO-20335,Consumer,United States,Fort Lauderdale,Florida,33311.0,...,2.0,0.20,2.5164,5,1,Office Supplies,Storage,Sean O'Donnell,Eldon Fold 'N Roll Cart System,South

In [4]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1734 entries, 0 to 1733
Data columns (total 22 columns):
 #   Column         Non-Null Count  Dtype
---  ------         --------------  -----
 0   order_id       1734 non-null   object
 1   order_date     1734 non-null   datetime64[ns]
 2   ship_date      1734 non-null   datetime64[ns]
 3   ship_mode      1734 non-null   object
 4   customer_id    1734 non-null   object
 5   segment        1734 non-null   object
 6   country        1734 non-null   object
 7   city           1734 non-null   object
 8   state          1734 non-null   object
 9   postal_code    1734 non-null   float64
 10  product_id     1734 non-null   object
 11  sales          1734 non-null   float64
 12  quantity       1734 non-null   float64
 13  discount       1734 non-null   float64
 14  profit         1734 non-null   float64
 15  category_id    1734 non-null   int64
 16  region_id      1734 non-null   int64
 17  category       1734 non-null   object
 18  sub_category   1734 non-null   object
 19  customer_name  1734 non-null   object
 20  product_name   1734 non-null   object
 21  region_name    1734 non-null   object
dtypes: datetime64[ns](2), float64(5), int64(2), object(13)
memory usage: 298.2+ KB